@charset "UTF-8";

body#pginicial {
  & main {
    & article#home {
      /* @media (max-width: 1459px) {
      article#home { APAGAR, ESTÁ APRESENTANDO MAL FUNCIONAMENTOs
        & aside{
          & a button{
            margin-top: 20px;
            width: 10vw;
            height: 5vh;
            border: none;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            background-image: linear-gradient(to right, var(--cor2), var(--cor3), var(--cor2));
          }
          & a button:hover{
            animation-duration: 0.5s;
            width: 12vw;
            height: 6vh;
            cursor: pointer;
          }
        }
        }
      }
    } */

      /* mudar pra 1440px */
      @media (min-width: 140px) {
        /* article#home { */
        & aside {
          & a button {
            margin-top: 20px;
            width: max-content;
            padding: 10px;
            height: max-content;
            border: none;
            border-radius: 18px;
            font-size: 1.5em;
            color: white;
            font-weight: 550;
            text-transform: uppercase;
            background-image: linear-gradient(
              to right,
              var(--cor2),
              var(--cor3),
              var(--cor2)
            );
          }
          & a button:hover {
            animation-duration: 0.5s;
            width: max-content;
            height: max-content;
            padding: 12px;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

body#pgaulas {
  & header {
    align-items: normal;
    margin-left: 7vh;
    & a button {
      margin-top: 20px;
      width: max-content;
      padding: 10px;
      height: max-content;
      border: none;
      border-radius: 18px;
      font-size: 1.5em;
      color: white;
      font-weight: 550;
      text-transform: uppercase;
      background-image: linear-gradient(to right, #7e48e8, #5e17eb, #7e48e8);
    }
    & a button:hover {
      animation-duration: 0.5s;
      width: max-content;
      height: max-content;
      padding: 12px;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}
