@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* CSS da ../../pages/start */
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
/* Essa fonte é ultilizada nos titulos dos modulos*/

body {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div-secao-principal {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-image: url(../../assets/img/fundo/gradiante_librasPrancheta\ 1.jpg);
  background-color: #e5e5e5;
  height: fit-content;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  color: black;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .div-secao-principal {
    width: 100%;
    flex-direction: column;
  }
}

.div-meio {
  width: 100%;
  height: 600px;
  top: 100px;
  left: 30%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  margin-left: -250px;
}

.img-mascote {
  width: 70%;
  height: 700px;
  max-width: 800px;
  min-width: 700px;
  margin-right: 50px;
}

.div-libras {
  width: 50%;
  height: 50px;
  font-size: 120px;
  line-height: 95px;
  font-weight: 400;
  position: absolute;
}

.div-sinais {
  margin-top: 60px;
  width: 100%;
  height: 100px;
  font-size: 35px;
  line-height: 320px;
  position: absolute;
}

.div-secao-ajuda {
  width: fit-content;
  height: fit-content;
  min-height: 1000px;
  color: rgb(255, 255, 255);
  background-color: white;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .div-secao-ajuda {
    width: 100%;
    flex-direction: column;
  }
}

.div-titulo-ajuda {
  color: black;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 80px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.div-perguntas {
  color: black;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 80px;
}

.div-titulo-pergunta {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
}

.div-texto-pergunta {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

.div-secao-projeto {
  width: fit-content;
  height: fit-content;
  background-image: url(../../assets/img/fundo/gradiante_librasPrancheta\ 2.jpg);
  background-color: #e5e5e5;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.div-projeto-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 100px;
  text-transform: uppercase;
  margin-left: 150px;
  margin-top: 400px;
  margin-right: 50px;
}

.div-projeto-conteudo {
  align-items: center;
  margin-top: 250px;
  width: fit-content;
  height: fit-content;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 50px;
}

.div-projeto-texto {
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

@media screen and (max-width: 1250px) {
  .div-projeto-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-secao-projeto {
    width: 100%;
    flex-direction: column;
  }
  .div-projeto-conteudo {
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.div-secao-sobre {
  width: fit-content;
  height: fit-content;
  min-height: 1000px;
  color: rgb(255, 255, 255);
  background-color: white;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 850px) {
  .div-secao-sobre {
    width: 100%;
    flex-direction: column;
  }
}

.div-sobre-titulo {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: black;
}

.div-sobre-conteudo {
  color: black;
  margin-top: 200px;
}
.div-sobre-imagem {
  margin-top: -100px;
  display: flex;
}

.img-sobre {
  margin-top: -70px;
  margin-left: 50px;
  width: 700px;
  height: 700px;
}

.div-sobre-texto {
  margin-top: 35px;
  margin-left: -90px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  width: 800px;
  height: 450px;
}

/* CSS da ../../pages/main */
.body-modulos {
  background-color: #e5d7ff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Modulo 1 */

.titulo-modulo1 {
  margin-top: 50px;
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.item-modulo1-tema1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m1tema1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo1-tema2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-m1tema2 {
  height: 136px;
  width: 175px;
}

.titulo-m1tema2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo1-tema3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m1tema3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo1-tema4 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m1tema4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Modulo 2 */

.titulo-modulo2 {
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.2em 0.2em 0.2em rgb(255, 255, 255);
}

.item-modulo2-tema1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m2tema1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo2-tema2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m2tema2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo2-tema3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m2tema3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo2-tema4 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m2tema4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Modulo 3 */

.titulo-modulo3 {
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.item-modulo3-tema1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m3tema1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo3-tema2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-m3tema2 {
  height: 136px;
  width: 175px;
}

.titulo-m3tema2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo3-tema3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m3tema3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo3-tema4 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m3tema4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Modulo 4 */

.titulo-modulo4 {
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.2em 0.2em 0.2em rgb(255, 255, 255);
}

.item-modulo4-tema1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m4tema1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo4-tema2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m4tema2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo4-tema3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m4tema3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-modulo4-tema4 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-m4tema4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.div-divisor {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #746efe;
  width: 1130px;
  height: 5px;
  border-radius: 40px;
}

/* Musica */

.grid-musica {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-musica {
  margin-top: 50px;
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.item-musica1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-musica1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-musica2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-musica2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-musica3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-musica3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* SinaisCast */

.grid-sinaiscast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-sinaiscast {
  margin-top: 50px;
  font-family: "Style Script", cursive;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #5e17eb;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.item-episodio1 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-episodio1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-episodio2 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-episodio2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.item-episodio3 {
  margin-top: 150px;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-episodio3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
